/* Font Google */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
/* End Font Google */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poopins", sans-serif;
}

/* Horizontal Role */
.horozintal_rule {
  font-weight: bold;
  margin-bottom: 0.9rem;
}
/* End Horizontal Role */

/* Container */
.container {
  width: 50%;
  height: 50%;
  flex: auto;
  margin: auto;
  padding: 4rem;
  gap: 1rem;
}
/* End Container */

/* Content */
.content {
  margin: 1rem;
  padding: 2rem;
  line-height: 1.5rem;
}
/* End Content */

/* Title */
.title {
  font-weight: 600;
  color: green;
}

/* End Title */

/* Title 2 */
.tekniks {
  font-weight: 600;
  color: blue;
}
/* End Title */

/* Card Titlte */
.card {
  height: auto;
  border: 2px solid gray;
  justify-content: center;
  justify-content: center;
  padding: 1rem 2rem;
}
/* End Title */
